<filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.example.app.filter.AuthFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>AuthFilter</filter-name>
<url-pattern>/search</url-pattern>
</filter-mapping>
<filter-mapping>
<filter-name>AuthFilter</filter-name>
<url-pattern>/delete</url-pattern>
</filter-mapping>